@import '@/shared/styles/theme.scss';

.weather-app-header {
  padding: 12px;
  display: flex;
  flex-direction: column;

  &__title {
    color: $primary;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding-bottom: 24px;
  }
}
