@import '@/shared/styles/theme.scss';

.search-location {
  &__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    outline: none;
    padding: 12px 24px;
    padding-left: 36px;
    border: 1px solid $primary;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;

    &:focus:not(.danger) {
      border-color: $secondary;
      box-shadow: $shadow-primary 0px 0px 0px 3px;
      background-color: $white;
    }

    &.danger {
      border-color: $error;
      color: $error;
      text-decoration: wavy;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: 8px;
    color: $primary;
  }

  &__apply-btn {
    outline: none;
    padding: 12px 8px;
    border: 1px solid $primary;
    color: $primary;
    font-weight: 600;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      box-shadow: $shadow-primary 0px 0px 0px 3px;
    }

    &:active {
      background-color: $white;
    }
  }
}
