@import '@/shared/styles/theme.scss';

.remove-location-item {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  padding: 10px;
  margin: -10px;
  cursor: pointer;
  color: $text-muted;

  &:hover {
    color: $error;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
