:root[data-theme='theme-light'] {
  // layouts
  --background: #f9f9fa;
  --primary: #009a8d;
  --secondary: #006fbe;
  --ternary: #0516cd;

  // text colors
  --text-color: #3d4041;
  --text-muted: #838a8e;

  --white: #ffffff;
  --black: #000000;
}

// :root[data-theme='theme-dark'] {}
