// layouts
$background: #f9f9fa;
$primary: #009a8d;
$secondary: #006fbe;
$error: #cc2828;

// text colors
$text-color: #3d4041;
$text-muted: #838a8e;

// effects
$shadow-primary: rgba(3, 102, 214, 0.3);

$white: #ffffff;
$black: #000000;
