.search-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 50%;
  margin: 0 auto;

  &__wrapper {
    position: relative;
  }

  &__input {
    outline: none;
    padding: 12px 24px;
    padding-left: 36px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;

    &:focus {
      border-color: var(--secondary);
      box-shadow: var(--shadow-primary) 0px 0px 0px 3px;
      background-color: var(--white);
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: 8px;
    color: var(--primary);
  }

  &__apply-btn {
    outline: none;
    padding: 12px 24px;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 600;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      box-shadow: var(--shadow-primary) 0px 0px 0px 3px;
    }

    &:active {
      background-color: var(--white);
    }
  }
}
