.weather-card {
  width: 100%;

  &__header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    color: var(--primary);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__col {
    width: 49%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__temp {
    color: var(--secondary);
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  .weather-info {
    display: flex;
    flex-direction: column;

    &__title,
    &__subtitle {
      margin: 0;
      padding: 0;
    }

    &__title {
      color: var(--primary);
      font-size: 18px;
    }

    &__subtitle {
      color: var(--secondary);
      font-size: 14px;
      font-weight: normal;
    }
  }
}
